/* #problems section p{
     display:none;
} */
/* #problems section:target p{
     display:block;
} */
#problems section a{
     color:black;

}
#problems section a:hover{
     cursor: pointer;
     text-decoration:underline;
     
     
}
